.logo {
  width: auto;
  height: auto;
  text-align: center;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
h1 {
  font-size: 50px;
  margin-top: 55px;
}
span {
  color: orange;
}
.container {
  display: flex;
  margin-bottom: 0px;
}
.container img {
  width: 95%;
  margin-bottom: 0px;
}
.item {
  width: 50%;
  padding: 40px;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(to top, maroon, orange);
  color: white;
  padding: 15px 35px;
  font-weight: 700;
  border-radius: 25px;
  margin-top: 500px;
}

.bg-img {
  background-image: url(images/foodnet-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#girl {
  width: 71%;
  margin-left: 120px;
}
.abt-me {
  margin-top: 70px;
}
.my-rcp {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 25px;
}
.lemon {
  width: 40%;
  margin-left: 1%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px gray;
  text-align: justify;
}
.recipe img {
  width: 100%;
  margin-top: 15px;
}
#footer {
  background-color: black;
  text-align: center;
  color: gray;
  margin-top: 50px;
  padding: 40px;
  font-size: 30px;
}
small {
  color: white;
}
#cuisine {
  text-align: center;
  color: green;
  background-color: rgb(216, 216, 216);
  padding-top: 5px;
  padding-bottom: 30px;
}
.optional {
  background-color: white;
  width: 30%;
  margin-left: 1%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px gray;
}
.optional img {
  border-radius: 100px;
  margin-top: 10px;
}
